{% extends 'common.html' %}


{% block title %}
    Edit Todo
{% endblock title %}
    
    

{% block content %}
    <div class="container-md fs-3">
        <h1 class="text-center p-3">Edit Todo</h1>


        <form action="{% url 'edit-todo' todo.id %}" method="post" class="row fs-5 border border-3 border-dark rounded-3 p-2 mx-auto my-3 text-dark">

            {% csrf_token %}

            <input type="text" placeholder="Title" class="col-12 m-3 mx-auto p-2 border border-2 border-dark rounded-2" name="title" value="{{todo.title}}">

            <textarea name="description" id="" placeholder="Description" class="col-12 m-3 mx-2 mx-auto p-2 border border-2 border-dark rounded-2" rows="5" cols="4">{{todo.description}}</textarea>

            <button type="submit" class="btn rounded-2 btn-dark col-12 m-3 ms-auto fs-5 p-2">Edit Todo</button>
        </form>
    </div>
{% endblock content %}
    